.masonry {
  column-count: 3;
  column-gap: 0.25rem;
}

@media (max-width: 768px) {
  .masonry {
    column-count: 1;
  }
}

.item {
  width: 100%;
  display: block;
  margin-bottom: 0.25rem;
  break-inside: avoid;
  cursor: pointer;
  transition: transform 0.2s ease;
  overflow: hidden;
}
