@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  --background: #101010;
  --foreground: #ffffff;
  --footer-background: #1A1A1A;
  --link-color: #8ab4f8;
  --link-hover-color: #ff4081;
  --border-color: #f0f0f0;
  --header-height: 15rem;
  --text-muted: #e5e7eb;
  --text-light-muted: #d1d5db;
}

[data-theme='light'] {
  --background: #ffffff;
  --foreground: #101010;
  --footer-background: #f0f0f0;
  --link-color: #1a0dab;
  --link-hover-color: #d61f69;
  --border-color: #1A1A1A;
  --text-muted: #6b7280;
  --text-light-muted: #9ca3af;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: var(--font-mono), monospace;
}

.sans {
  font-family: var(--font-sans), sans-serif;
}

.serif {
  font-family: var(--font-serif), serif;
}

.mono {
  font-family: var(--font-mono), monospace;
}

@layer base { 
  a {
    color: var(--link-color);
    text-decoration: none;
  } 

  a:hover {
    color: var(--link-hover-color);
  }
}

.border-box {
  border: 2px solid var(--border-color);
}

button {
  cursor: pointer;
}

.svg-foreground {
  filter: invert(1);
}

[data-theme='light'] .svg-foreground {
  filter: none;
}

.prose h1 {
  text-align: center;
}

.main-container {
  max-width: 100rem;
  margin: 0 auto;
  padding: 1rem;
}

.portfolio-container {
  max-width: 100% !important;
  margin: 0 !important;
  padding: 0 !important;
}